@import "./common";
@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";
@import "@material/image-list/mdc-image-list";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/icon-button/mdc-icon-button";

.progreso {
  display: flex; // Flexbox is used to easily arrange the persistent drawer and content side-by-side
}

.taket-drawer-header {
  display: block;
  width: 48px;
  padding: 40px 0 0;
  margin: 20px;
  fill: currentColor;
}
.product-list {
  @include mdc-image-list-standard-columns(4);

  overflow: auto;
}

// Note: these styles do not account for any paddings/margins that you may need.

body {
  display: flex;
  height: 100vh;
}

.mdc-drawer-app-content {
  flex: auto;
  overflow: auto;
  position: relative;
}

.main-content {
  overflow: auto;
  height: 100%;
}

.app-bar {
  position: absolute;
}

// only apply this style if below top app bar
.mdc-top-app-bar {
  z-index: 7;
  background: $mdc-theme-surface;
}
.mdc-top-app-bar * {
	color: $mdc-theme-on-surface; 
}